<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper green lighten-2">
        <a class="brand-logo center">Marketplace</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          {{#if loggedIn}}
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a id="logout-link">Logout</a></li>
          {{else}}
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      {{#if loggedIn}}
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a id="logout-link">Logout</a></li>
      {{else}}
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </header>
  <main class="container">
    {{{body}}}
  </main>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red btn tooltipped" data-position="left" data-tooltip="Make a Post">
      <i class="large material-icons">add_box</i>
    </a>
  </div>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/homepage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>