.card-image {
    height: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.card-image-indiv {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 10px;
    border: 2px solid black;
}

.card-indiv {
    padding: 15px;
}

.container {
    margin-top: 15px;
}

#new-post {
    border: 1px solid black;
    padding: 10px;
}

.login-card {
    padding: 0 10px 10px 10px;
}

.signup-card {
    padding: 0 10px 10px 10px;
}

.diff-color {
    color: #29335C;
}


.card-width{
    width: 600px;
}

.card-change{
    display: flex;
    justify-content: center;
}

.login-h2{
    margin: 10px 0 10px 0;
}


.account-btn {
    margin-right: 8px;
}

#password-input-signup, #password-input-login{
    margin-bottom: 15px;
}



